body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin:0;
}
.container {
    position: relative;
}

.square{
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(7, 7, 176);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
